<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Личный кабинет</a></li>
        <li><a href="badges.html" data-target="modal1" class="modal-trigger">Регистрация</a></li>
        <li><a href="collapsible.html">Бесплатный урок</a></li>
        <li><a href="collapsible.html" data-target="modal2" class="modal-trigger">Войти</a></li>
      </ul>
    </div>
  </nav>
