
    <div class="col s12 m7 right-side-main-container">
    <div class="card horizontal">
      <div class="right-side-photo-container">
      <div class="card-image">
        <img src="https://thumb.tildacdn.com/tild3039-6462-4664-b562-666433626234/-/format/webp/5-min.png">
      </div>
      </div>
      <div class="card-stacked">
         <p> Привет, <b>{{user.name}}</b></p>
        <div class="card-content">
        </div>
      </div>
    </div>
     <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
           {{#if (ownerCheck user 'teacher')}}
           <a href="/chess-test" class='waves-effect waves-light btn start-test'>Пройти тест</a>
           {{else}}
           <p>I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
           {{/if}}
        </div>
      </div>
    </div>
     <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
  </div>
    </div>
