<div class="row">
    <form class="col s7">
      <div class="row">
        <div class="input-field col s6">
          <input data-testQuestion placeholder="Нужно указать вопрос теста" id="question" type="text" class="validate">
          <label for="question">Вопрос</label>
        </div>
        <div class="input-field col s6">
          <input data-testCorrectAnswer placeholder="Нужно указать правильный ответ теста" id="correct" type="text" class="validate">
          <label for="correct">Правильный ответ</label>
        </div>
        <div class="input-field col s6">
          <input data-1testUnorrectAnswer placeholder="первый неправильный вопрос" id="correct" type="text" class="validate">
          <label for="1unCorrect">Первый неправельный ответ</label>
        </div>
        <div class="input-field col s6">
          <input data-2testUnorrectAnswer placeholder="второй неправильный вопрос" id="correct" type="text" class="validate">
          <label for="2unCorrect">Второй неравильный ответ</label>
        </div>
      </div>
       <div class='modal-footer'>
      <button
        name="buttonTest"
        data-testButton
        type='submit'
        class='row'
      > Добавить</button>
    </div>
        
    </form>
  </div>
        