
<h1>You wanna pay? Lets play, little bitch!</h1>
{{> modals}}
<div class="fadein">
  <img src="https://img.kanal-o.ru/img/2017-08-14/fmt_81_24_maksienko.jpg" class="photo_main">
  <img src="https://img.kanal-o.ru/img/2017-08-14/fmt_81_24_fotoinfot.jpg" class="photo_main">
  <img src="https://img.kanal-o.ru/img/2017-08-14/fmt_81_24_evgeniiand.jpg" class="photo_main">
</div>

