<div class="row">
  <div class="col s4">
    <ul class="tabs tab-demo z-depth-1">
      <li class="tab"><a href="#test1">Test 1</a></li>
      <li class="tab"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab"><a href="#test3">Disabled Tab</a></li>
      <li class="tab"><a href="#test4">Test 4</a></li>
      <li class="tab"><a href="#test0">Test 5</a></li>
    </ul>


  </div>
  <div class="col s8">


    <div id="test1" class="tab-wrapper z-depth-1">
      <div>Test 1</div>
    </div>
    <div id="test2" class="tab-wrapper z-depth-1">
      <div>Test 2</div>
    </div>
    <div id="test3">
      <div class="tab-wrapper z-depth-1">Test 3</div>
    </div>
    <div id="test4">
      <div class="tab-wrapper z-depth-1">Test 4</div>
    </div>
    <div id="test0">
      <div class="tab-wrapper z-depth-1">Test 5</div>
    </div>

  </div>

</div>
